.menu {
    width: 250px;
    height: calc(100vh);
    background-color: var(--cyan-700);
    color: var(--light-000);

    position: fixed;
    top: 0px;
    left: 0;
    transition: left ease-out 300ms, width ease-out 300ms;
    z-index: 1;

    &_title {
        width: 100%;
        text-align: center;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            font-size: 1.7rem;
            font-weight: bold;
            text-decoration: none;
        }
    }

    &_section {
        padding: 26px;

        &_point {
            background-color: var(--cyan-600);
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
            transition: background-color ease-out 300ms;

            @media (hover:hover) and (pointer:fine) {
                &:hover {
                    background-color: var(--cyan-800);
                }
            }
        }
    }

    @media screen and (max-width: 1230px) {
        left: -250px;
    }

    &_open {
        left: 0;

        @media screen and (max-width: 330px) {
            width: 100vw;
        }
    }
}

.cross {
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;

    svg {
        fill: var(--light-000);
        width: 15px;
        height: 15px;
    }

    @media screen and (max-width: 330px) {
        display: flex;
    }
}

.link {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &_title {
        font-size: 2rem;
        text-align: center;
        margin: 0 5px;
        width: 250px;
    }

    &_form {
        display: flex;
        flex-direction: column;
        gap: 20px;

    }

    button[extra-css="btn-link-device"] {
        width: 100%;
    }
}