.btn {
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color ease-out 300ms, color ease-out 300ms;

    svg {
        width: 20px;
        height: 20px;
        animation-name: anima_loader;
        animation-duration: 600ms;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: normal;

        transition: fill ease-out 300ms;
    }
}

.cyan-500 {
    background-color: var(--cyan-500);
    color: var(--light-000);
    border: 2px solid var(--cyan-500);

    svg {
        fill: var(--light-000);
    }

    @media (hover:hover) and (pointer:fine) {
        &:hover {
            background-color: var(--light-000);
            color: var(--cyan-500);

            svg {
                fill: var(--cyan-500);
            }
        }
    }
}

.light-000 {
    background-color: var(--light-000);
    color: var(--cyan-500);
    border: 2px solid var(--cyan-500);

    svg {
        fill: var(--cyan-500);
    }

    @media (hover:hover) and (pointer:fine) {
        &:hover {
            background-color: var(--cyan-500);
            color: var(--light-000);

            svg {
                fill: var(--light-000);
            }
        }
    }
}

@keyframes anima_loader {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }

}