.room {
    width: 70vw;
    max-width: 800px;
    position: relative;

    &_title {
        input {
            color: var(--cyan-500);
            font-size: 2.25rem;
            font-weight: bold;

        }

        &_bad {
            input {
                color: var(--red-200);
            }
        }
    }

    &_state_des {
        font-weight: bold;
        margin: 30px 0;
        font-size: 1.375rem;
    }

    &_alarms {
        display: flex;
        flex-direction: column;
        gap: 20px;

        div {
            display: flex;
            gap: 10px;
            align-items: center;

            svg {
                width: 30px;
                height: 30px;
            }
        }
    }

    &_dog {
        margin-top: 50px;
        margin-bottom: 30px;
        font-size: 1.3rem;
        color: var(--light-600);
    }

    &_stats {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        &_left {
            width: 50%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 30px;

            &_days {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                height: 100px;
                background-color: var(--cyan-400);
                font-size: 2.5rem;
                border-radius: 50%;
            }

            &_stat {
                font-size: 1.375rem;
            }
        }

        &_right {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            &_stat {
                font-size: 5.3rem;
                color: var(--cyan-500);
                font-weight: bold;
            }
        }

        @media screen and (max-width: 860px) {
            flex-direction: column;

            &_left,
            &_right {
                width: 100%;
            }

            &_right {
                justify-content: flex-start;
            }
        }

        @media screen and (max-width: 480px) {
            &_left {
                flex-direction: column;

                &_stat {
                    text-align: center;
                }
            }

            &_right {
                flex-direction: column;
            }
        }
    }

    &_block {
        width: 60px;
        height: 60px;
        background-color: var(--green-300);
        border-radius: 50%;
        position: absolute;
        top: 10px;
        right: 0;
        z-index: 1;

        &::after {
            content: "";
            position: absolute;
            width: 60px;
            height: 60px;
            background-color: var(--green-400);
            ;
            border-radius: 50%;
            top: -5px;
            z-index: 0;
            right: 5px;
        }

        &_bad {
            background-color: var(--red-100);

            &::after {
                background-color: var(--red-200);
            }
        }
    }

    @media screen and (max-width: 480px) {
        &_title {
            padding-top: 20px;
        }

        &_block {
            transform: scale(.5);
            top: -10px;
            right: -10px;
        }
    }
}